.motto {
    color: #14274A;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    margin-bottom: 0;
}

.motto::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--gold);
    margin: 1rem auto 0;
}
