.rooms .text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    color: #14274A;
}

.rooms .text .title {
    font-size: 2rem;
    font-weight: 600;

    margin-top: 3rem;
    margin-bottom: 2rem;
}

.rooms .text .subtitle {
    font-weight: 500;
}