.digital-card {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.digital-card .navbar {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.digital-card .navbar .logo {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: min-content;
    background-color: #E0B973;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: 1;
}

.digital-card .navbar .logo .title {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    color: #14274A;
}

.digital-card .navbar .logo .subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
}

.digital-card .navbar a {
    text-decoration: none;
    color: #14274A;
    font-size: 2rem;

    transition: text-decoration 0.5s ease;
}

.digital-card .navbar a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #14274A;
    transition: width .3s;
}

.digital-card .navbar a:hover:after {
    width: 100%;
}

.digital-card .main-matter {
    width: 80%;
    height: 50vh;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.digital-card .main-matter .title {
    font-size: 2.3rem;
    font-weight: 700;
    color: #14274A;

    padding: 1rem;
}

.digital-card .main-matter .text {
    border: 1px solid #14274A;
    padding: 1rem;

    text-align: left;
}

.digital-card .main-matter .text .info {
    font-size: 1.3rem;
    font-weight: 500;
    color: #14274A;
}

.digital-card .main-matter .text a {
    text-decoration: none;
    color: #14274A;
}

.digital-card .main-matter a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #14274A;
    transition: width .3s;
}

.digital-card .main-matter a:hover:after {
    width: 100%;
}

@media screen and (max-width: 991px) {
    .digital-card .navbar {
        width: 90%;
    }

    .digital-card .navbar a {
        font-size: 1rem;
    }

    .digital-card .navbar .logo {
        padding-top: 0.5rem;
        padding-bottom: 0.7rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .digital-card .navbar .logo .title {
        font-size: 1rem;
    }

    .digital-card .navbar .logo .subtitle {
        font-size: 0.5rem;
    }

    .digital-card .main-matter {
        width: 100%;
        flex-direction: column;
    }

    .digital-card .main-matter .title {
        font-size: 1.3rem;
    }
    
    .digital-card .main-matter .text .info {
        font-size: 1rem;
    }
}