.landing-card {
    width: 70%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 5rem;

    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.landing-card .left {
    color: #14274A;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 20px;
    border-left: 1px solid #14274A;

    height: max-content;
}

.landing-card .left .title {
    font-size: 2.3rem;
    font-weight: 700;
}

.landing-card .left .text {
    margin-top: 1rem;
}

.landing-card .left button {
    width: min-content;

    margin-top: 2rem;
    margin-left: 0.6rem;

    padding-left: 2.3rem;
    padding-right: 2.3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;

    border: 0;
    background-color: #E0B973;

    color: #FFF;
    font-weight: 600;
    border-radius: 6px;
}

.landing-card .right img {
    width: 30rem;
    height: auto;
}

@media screen and (max-width: 991px) {
    .landing-card {
        width: 90%;

        flex-direction: column;
        gap: 1rem;
    }

    .landing-card .left {
        width: 100%;
        padding: 0;
        
        border-left: 0;
    }

    .landing-card .left .title {
        font-size: 1rem;
    }

    .landing-card .left .text {
        font-size: 0.8rem;
    }

    .landing-card .left button {
        font-size: 0.6rem;
        
        margin-left: 0;
        margin-top: 1rem;

        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

    .landing-card .right img {
        width: 100%;
    }
}