.header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header .navbar .logo {
    background-color: #E0B973;

    padding-top: 2.5rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;

    z-index: 1;
}

.header .navbar .logo .title {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    color: #14274A;
}

.header .navbar .logo .subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
}

.header .navbar .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;

    z-index: 1;
}

.header .navbar .menu .item {
    font-size: 1.3rem;
    color: #FFF;
    text-decoration: none;

    border-bottom: 0px;
    transition: border 0.5s ease;
}

.header .navbar .menu .item:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFF;
    transition: width .3s;
}

.header .navbar .menu .item:hover:after {
    width: 100%;
}